#inicio {
    margin: 40px auto;
    background-color: rgb(135, 164, 202);
}

h1 {
    text-align: center;
    background-color: rgb(135, 164, 202);
}

#links {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.link {
    margin-right: 10px;
}

a {
    background-color: rgb(135, 164, 202);
    border-radius: 4px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: aliceblue;
    border: 2px solid rgba(255, 255, 255, 0.301);
}

a:hover {
    background-color: rgb(126, 153, 189);
}

.cadastr {
    margin-right: 10px;
}