<div id="div-form">
  <div id="menu">
    <h4>CADASTRO CLIENTES</h4>
  </div>
  <form id="formulario">
    <label for="nome">Insira seu nome</label>
    <input type="text" name="nome" id="nome" [(ngModel)]="nome" />

    <label for="email">Insira seu email</label>
    <input type="email" name="email" id="email" [(ngModel)]="email" />

    <label for="cpf">Insira seu CPF</label>
    <input type="text" name="cpf" id="cpf" [(ngModel)]="cpf" />

    <label for="data">Insira sua Data de nascimento</label>

    <input type="date" name="data" id="data" [(ngModel)]="data" />

    <label for="uf">Insira seu UF</label>
    <select name="uf" id="uf" [(ngModel)]="uf" (change)="carregaMunicipiosSelect()">
      <option value="">Selecione um Estado</option>

      @for (elem of listaUfs; track elem.id) {
      <option [ngValue]="elem.sigla">{{ elem.sigla }} - {{ elem.nome }}</option>
      }
    </select>

    <label for="municipio">Insira seu Município</label>
    <select type="text" name="municipio" id="municipio" [(ngModel)]="municipio" [disabled]="municipios.length === 0"
      class="elem-form-02">
      <option value="">Selecione um Município</option>

      @for (elem of municipios; track elem.id) {
      <option [ngValue]="elem.nome">
        {{ elem.nome }}
      </option> 
      }
    </select>

    <button type="button" id="btnAdd" class="btnAdd" (click)="save()" routerLink="/lista">
      Adicionar
    </button>
    <button type="button" id="btnLimpar" class="btnAdd" (click)="limpaForm()">
      Limpar formulário
    </button>
  </form>
</div>